.container{
    width:90%;
    margin:0 auto;
    font-family: 'Indie Flower', cursive;
    
}
header{
    background-image: url(../img/pants-1255847.jpg);
}
header h1{
    font-size: 60px;
    margin: 0 auto;
    width: 350px;
    color:white;
}
.login{
    width: 90%;
    text-align: center;
}

.search{
    margin:0 auto;
    width: 300px;
}
.search button{
    background-color: navy;
    color: white;
}
.search input{
    border-radius:10px;

}
.sort{
    margin:20px;
}

.post-comment{
    border: 1px solid black;
    border-radius:10px;
    margin:20px;
    letter-spacing: 3px;
    


}

.post{
    width:40%;
    margin:20px;
    border: 1px solid black;
    border-radius:10px;
    padding: 20px;
}

.comment{
    margin:20px;
    width:40%;
}

.meddelande{
    margin:20px;
}

.meddelande textarea{
    border: 1px solid black;
    border-radius:10px;
    

}

.btn{
    background-color: navy;
    color: white;
    font-family: inherit;
    padding: 5px;
    border: 2px white;
    font-weight: bold;
    box-shadow: 1px 1px black;
}

.bt{
    border: 0;
    background-color: red;
    font-family: inherit;
}